body {
  background-color: beige;
  font-family: verdana;
}

h1 {
    text-align:center;
}

img {
    align: center;
}
/* FIRSTAPPLICATION/static/css/style.css */
/* Initially hide the nested <ul> inside collapsed <li> */
.collapsed ul {
    display: none;
}

/* Show the nested <ul> and change font and text color when the <li> is expanded */
.expanded ul {
    display: block;
}

.expanded li {
    font-family: Verdana, sans-serif;
    color: #ff0000; /* Red color */
}
