body {
  background-color: beige;
  font-family: verdana;
}

.container {
    display: flex;
    container:100%
}

.box{
    flex :1;
    border: 1px solid box;
    box-sizing: border-box
}

h1 {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.collapsed ul {
    display: none;
}

.expanded ul {
    display: block;
}

.expanded li {
    font-family: Verdana, sans-serif;
    color: #ff0000; /* Red color */
}
