{% load static %}
<!DOCTYPE html>

<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>

</head>
<body>

<h1 class="textToConvert">"Hi! Welcome to the innovation with python training.</h1>
<hr>

<img src="{% static 'images/django_image.jpg' %}" alt="Example Image">
<hr>
<h2 class="textToConvert"> Below are the records with Name, ID, Contact, Address</h2>
<hr>
<br>


<button onclick="convertText()">Click and enter value to change color value and font style</button>
<div class="container">
    <div class="box">
        <h3 class="textToConvert">Names</h3>
        <ul>
            {% for name in names %}
            <li class="textToConvert">{{ name.name }}</li>
            <hr>
            {% endfor %}
        </ul>
    </div>

    <div class="box">
        <h3 class="textToConvert">ID's</h3>
        <ul>
            {% for id in ids %}
            <li class="textToConvert">{{ id.identifier }}</li>
            <hr>
            {% endfor %}
        </ul>
    </div>

    <div class="box">
        <h3 class="textToConvert">Contact</h3>
        <ul>
            {% for contact in contacts %}
            <li class="textToConvert">{{ contact.phone }} - {{ contact.email }}</li>
            <hr>
            {% endfor %}
        </ul>
    </div>

    <div class="box">
        <h3 class="textToConvert">Address</h3>
        <ul>
            {% for address in addresses %}
            <li class="textToConvert">{{ address.street }}, {{ address.city }}, {{ address.state }}, {{
                address.country }}
            </li>
            <hr>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
